<!-- For the floating balloon alert messages -->
<!-- In JS, set the alert-<type>, set the text, then add the class 'show' -->
<!-- In SCSS, include the partial "balloon" -->
<div class='alert alert-success py-3 px-5' id='alert-balloon'></div>