<!-- Navbar toggler -->
<input class='navbar-isExtend hide' id='navbar-extend' type='checkbox'/>

<nav class='navbar text-light'>
    <div class='container'>
        <a class='navbar-brand' href='/'>Exer_Track</a>

        <!-- Burger menu on smaller screens -->
        <label class="navbar-toggle"  for='navbar-extend' aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class='navbar-toggle__center'></span>
        </label>
        
        <!-- Navbar displayed on large screen only -->
        <ul class="navbar-nav nav-lg-screen">
            <% if (isLoggedIn) { %>
                <li class="nav-item">
                    <p class='nav-link'>Hi, <%= username %></p>
                </li>
                <li class="nav-item">
                    <a href="/exercise" class="nav-link">Exercise!</a>
                </li>
                <li class="nav-item">
                    <a href="/history" class="nav-link">History</a>
                </li>
                <li class="nav-item">
                    <a href="/api/logout" class="nav-link">Logout</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/register" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>

<!-- Navigation Menu for mobile screens -->
<nav class="nav-sm-screen">
    <h4 class="display-4">Menu</h4>

    <ul class="navbar-nav">
        <% if (isLoggedIn) { %>
            <li class="nav-item">
                <p>Hello, <%= username %></p>
            </li>
            <li class="nav-item">
                <a href="/exercise" class="nav-link">Exercise!</a>
            </li>
            <li class="nav-item">
                <a href="/history" class="nav-link">History</a>
            </li>
            <li class="nav-item">
                <a href="/api/logout" class="nav-link">Logout</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a href="/register" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
        <% } %>
    </ul>
</nav>

